<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filtering Data List</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="keyword" placeholder="keyword">
    <ul>
      <li v-for="(book, index) of filterBooks" :key="index">
        {{ book }}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        keyword: "",
        books: [
        'C++ High Performance',
        'Mastering Linux Security and Hardening', 
        'Python Programming Blueprints',
        'Mastering PostgreSQL 10',
        ]
      },
      computed: {
        filterBooks: function(book) {
          return this.books.filter((book) => {
            return book.includes(this.keyword);
          });
        }
      }
    });
  </script>
</body>
</html>